*.docx binary
*.pdf binary
*.ppt binary
*.pptx binary
*.3mf binary
*.stl binary
*.obj binary
*.glb binary
*.usdz binary
*.blend binary
*.blend1 binary
*.blend11 binary
*.plasticity binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.avif binary
*.gif binary
